{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ product.ProductName }}</h1>
  <img src={{product.Picture.url}}>
  <!--<p><strong>:</strong> <a href="">{{ product.author }}</a></p> <!-- author detail link not yet defined -->
  <!--<p><strong>Summary:</strong> {{ product.summary }}</p>
  <p><strong>ISBN:</strong> {{ product.isbn }}</p>
  <p><strong>Language:</strong> {{ product.language }}</p>
  <p><strong>Genre:</strong> {{ product.genre.all|join:", " }}</p> -->

  <div style="margin-left:20px;margin-top:20px">
{% endblock%}