{% extends "base_generic.html" %}

{% block content %}
  <h1>Product List</h1>
  {% if product_list %}
  <ul>
    {% for Product in product_list %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
      </li>
    {% endfor %}
  </ul>
  {% elif product_100 %}
  <strong>Filtered Price: <$100 </strong>
  <ul>
    {% for Product in product_100 %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
      </li>
    {% endfor %}
  {% elif product_500 %}
  <strong>Filtered Price: ($100 - $500) </strong>
  <ul>
    {% for Product in product_500 %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
      </li>
    {% endfor %}
  </ul>
  {% elif product_2000 %}
  <strong>Filtered Price: ($500 - $2,000) </strong>
  <ul>
    {% for Product in product_2000 %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
      </li>
    {% endfor %}
  {% elif product_5000 %}
  <strong>Filtered Price: ($2,000 - $5,000) </strong>
  <ul>
    {% for Product in product_5000 %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
      </li>
    {% endfor %}
  {% elif product_5001 %}
  <strong>Filtered Price: +$5,000 </strong>
    <ul>
      {% for Product in product_5001 %}
        <li>
          <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
        </li>
      {% endfor %}
  {% elif product_wlist %}
    <ul>
      {% for Product in product_wlist %}
        <li>
          <a href="{{ Product.get_absolute_url }}">{{ Product.ProductName}}</a> (${{Product.Price}})
        </li>        
  {% endfor %}
    {% else %}
    <p>There are no Products in the library.</p>
  {% endif %}
{% endblock %}